body {
  height: 100vh;
  background-color: #212121;
}

#root {
  height: 100%;
  background-color: #212121;
  background: repeating-linear-gradient(
    45deg,
    #37474f,
    #37474f 20px,
    #212121 20px,
    #212121 40px
  );
}

body,
html {
  overflow-x: hidden;
  overflow-y: auto;
}
