nav {
  height: 100%;
}

.sideBarNav {
  background-color: #616161;
  height: 100%;
}

.menuOption {
  color: #fff;
  font-weight: bold;
}

.menuOption:hover {
  color: #007bff;
  font-weight: bold;
  background-color: #212121;
}
